asn1crypto==0.24.0
attrs==18.1.0
Automat==0.7.0
boto3==1.7.55
botocore==1.10.55
cffi==1.11.5
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
docutils==0.14
enum34==1.1.6
functools32==3.2.3.post2
futures==3.2.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipaddress==1.0.22
jmespath==0.9.3
lxml==4.2.3
parsel==1.5.0
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==18.0.0
pypiwin32==223
python-dateutil==2.7.3
pywin32==223
queuelib==1.5.0
s3transfer==0.1.13
Scrapy==1.5.0
service-identity==17.0.0
six==1.11.0
Twisted==18.4.0
w3lib==1.19.0
zope.interface==4.5.0
